{{extend 'layout.html'}}
<style>
    h6{
        color: #3F92D2;
    }
    #leftContents {
        float : left;
        width : 80%;
        margin : 40px;
        height: 100%;
    }
    #rightContents {
        float : right;
        width : 80%;
        padding-right : 75px;
    }
</style>

<h1>{{=event.title}}</h1> 

<table>
    <tr>
    <td>{{=A('Home', _href=URL('home'))}}</td>
    <td>{{=A('Profile', _href=URL('profile', args=[auth.user_id]))}}</td>
    <td>{{=A('Group Page', _href=URL('groups', args=[session.group_id]))}}</td>
        {{if not attending:}}    
    <td>{{=A('RSVP for this Event!', _href=URL('RSVP'))}}</td>
        {{else:}}
    <td>{{=A('Un-RSVP for this Event', _href=URL('unRSVP'))}}
        {{pass}}
    </tr>
</table>

{{if attending:}}
<p style="color: red">You are registered for this event!</p>
{{pass}}

<table>
<tr>
<td>
<div id="leftContents">
<h4>Who's Coming:</h4>
{{for row in members_attending:}}
<table>
    <tr><td><img width="50px" src="{{=URL('download', args=row.photo)}}" align="Left"/></td><td>{{=A(row.username, _href=URL('profile', args=[row.id]))}}</td></tr>
</table>
{{pass}}
</div>
</td>
<td>


<p>
	<img width="200px" src="{{=URL('download', args=event.photo)}}" align="Right"/>
	<h6>When:</h6> {{=event.date.strftime("%A, %B %d")}} at {{=event.time.strftime("%r")}}
	<h6>Location:</h6> {{=event.location}}
	<h6>Description:</h6> {{=event.description}}
</p>

<h4>Comments about {{=event.title}}</h4>



{{for comment in comments:}}
  <p>
      {{=db.auth_user[comment.member].username}} on {{=comment.posted_on.strftime("%A, %B %d")}}
          says:<br /> <I>"{{=comment.comment}}"</I> &nbsp;
    
      {{if admin:}}
      {{=A('delete', _href=URL('deleteComments', args=[comment.id]))}}
      
      {{elif (comment.author==auth.user_id) :}}
      {{=A('delete', _href=URL('deleteComments', args=[comment.id]))}}
      {{pass}}         

  </p>
{{pass}}

{{if not comments:}}
	<p> There are no comments. Start the conversation!</p>
{{pass}}

<h4>Post a comment</h4>
{{=form}}
</tr>
</table>
