{{extend 'layout.html'}}
<script>
$(document).ready(function(){    
   $("#no_table_interest").autocomplete({
       source: "{{=URL('keys_complete')}}.json",
       minLength: 1,
   });
});
</script>
<h1>Add or Edit Keywords</h1>

<table><tr><td>{{=A('Home', _href=URL('home'))}}</td><td>{{=A('Profile', _href=URL('profile', args=[auth.user_id]))}}</td><td>{{=A('Calendar', _href=URL('mycal'))}}</td><td>{{=A('Group Page', _href=URL('groups', args=[session.group_id]))}}</td></tr></table>
<br />
<p>Remember: Keywords are what allow users to search for your group</br><span style="color:red">(Please enter one keyword at a time)</span></p>

<h4>Keywords for {{=group.name}}:</h4>

<table>
{{for row in interests:}}
    <tr><td>{{=row.Keywords.keyword.lower()}}</td><td>{{=A('delete', _href=URL('deleteKeywords', args=[row.Keywords.id]))}}</td></tr>
{{pass}}
</table>

<h4>Add Additional Keywords Here</h4>

{{=form1}} 

<h4>Click Below When Finished</h4>
<br />
{{=form2}}
