{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h3>{{=group.name}}</h3>

<table>
<tr>
<td>{{=A('Home', _href=URL('home'))}}</td>

<td>{{=A('My Profile', _href=URL('profile'))}}</td>

{{if admin=='True':}}
<td>{{=A('Edit Page',_href=URL('index'))}}</td>
<td>{{=A('Edit Members List',_href=URL('index'))}}</td>
{{pass}}
    
{{if not member:}}
	<td>{{=A('Join This Group!',_href=URL('joinGroup'))}}</td>
{{else:}}
    <td>{{=A('View Members', _href=URL('index'))}}</td>
    <td>{{=A('Leave Group', _href=URL('leaveGroup'))}}</td>
    <td>{{=A('Create an Event', _href=URL('index'))}}</td>
{{pass}}
</tr>
</table>

<p><br /> <img width="200px" src="{{=URL('download', args=group.photo)}}"/> <B>About us:</B> {{=group.description}}</p>

<p> <B>Upcoming Events:</B> </p>
<ol>
{{for e in es:}}
    <li>{{=A(e.title, _href=URL('displayEvent', args=[e.id]))}}
    on {{=e.date.strftime("%A, %B %d")}}
</li>
{{pass}}
</ol>
