{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h1>{{=group.name}}</h1>

<table>
<tr>
<td>{{=A('Home', _href=URL('home'))}}</td>

<td>{{=A('My Profile', _href=URL('profile', args=[auth.user_id]))}}</td>
    
{{if not member:}}
    <td>{{=A('Join This Group!',_href=URL('joinGroup'))}}</td>
{{else:}}
    {{if admin:}}
        <td>{{=A('Edit Group',_href=URL('editGroup', args=[session.group_id]))}}</td>
    {{pass}}
        <td>{{=A('View Members', _href=URL('viewMembers'))}}</td>
        <td>{{=A('Leave Group', _href=URL('leaveGroup'))}}</td>
        <td>{{=A('Create an Event', _href=URL('createEvent'))}}</td>   
{{pass}}
</tr>
</table>

<p><br /> <img width="200px" src="{{=URL('download', args=group.photo)}}" align ="right"/> 
</p>
<h4>About us:</h4> {{=group.description}}
<br/><br/><br/><br/><br/><br/>
<h4>Upcoming Events:</h4>
{{for e in es:}}
    <p>{{=A(e.title, _href=URL('displayEvent', args=[e.id]))}} on {{=e.date.strftime("%A, %B %d, %Y")}}</p>
{{pass}}
{{if not es:}}
    <p> There are no upcoming events. Why not {{=A('create an event', _href=URL('createEvent'))}} for the group?</p>
{{pass}}
