{{extend 'layout.html'}}
<style>
.descripCell{
   height : 50px;
   width : 500px;
}
.gThumb {
   float : left;
   height : 50px;
   width : 50px;
}

    /*Left side*/
    #contentLeft{
        width: 505px;
    }
    
    #mainContent{
        padding; 0 15px;
    }
    
    /*Right side*/
    #contentRight{
        width: 505px;
    }
    #sideBar{
        padding: 0 10px;
        
    }
    
    #table{
        margin: 0;
        paddingL 0;
        border-collapse:collaspe;
        text-align: left;
    }
    
    #tr, td {
        margin: 0;
        padding: 0;
        verticle-align: top;
    }
    
    #middleContent{
        padding-right:50px;
    }
</style>
<script>
$(document).ready(function(){
   $("#no_table_interest").autocomplete({
       source: "{{=URL('keys_complete')}}.json",
       minLength: 1,
   });
   $('span').each(function(){
      if($(this).attr('id') == "descripSpan"){
         var str = $(this).html();
         str.replace(/\s+$/g,' ');
         var temp = '';
         for (var c=0; c<50; c++) {
            if(c < str.length){
               temp += str[c];
            }
         }
         $(this).replaceWith("<p>&nbsp;&nbsp;" + temp + "...</p>");
      }
  });
});
</script>
    <center><img src="{{=URL(r=request,c='static/images',f='mainlogo.png')}}" id="mainLogo" /></center>
        <center><h3>Welcome back, {{=current_user.first_name}}!</h3></center>
        <br />
            <td><tr>
            <table id="table"><tr>
            <td id="contentLeft">
            <div id="mainContent">
        <h4>Start Your Own Group!</h4>
        <p>Want to become a group leader? <br/>Can&#39;t find a group that matches your interests?<br />
             {{=A('Create your own group', _href=URL('createAGroup'))}}

   <br />
   <h4>Search Groups:</h4>
   {{=form}}
   
   <h4>Recommended Groups:</h4>
   <table id="groupT">
   {{k = 0}}
   
   {{if not groups:}}
        <p>Add interests to your profile to get recommendations</p>
   {{pass}}
   
   {{k = 0}}
   {{for row in groups:}}
         {{if k < 4:}}
         <tr>
         <td class="descripCell">
         {{=A(IMG(_src=URL('download',args=row.photo), _class='gThumb'), _href=URL('groups', args=[row.id]))}}
         &nbsp;&nbsp;{{=A(row.name, _href=URL('groups', args=[row.id]), _id="descripSpan")}}
         <span id="descripSpan">{{=row.description}}</span>
             </td></tr>
         {{k = k + 1}}
         {{pass}}
   {{pass}}
   </table>
                
   <br />
   
   </td>
        
        
   <td id="contentRight">
   <div id="sidebar">
       <h4>View and Edit Your {{=A('Profile', _href=URL('profile', args=[auth.user_id]))}} </h4>
       <table><tr><td><img src="{{=URL('download',args=current_user.photo)}}" height="50" width="50px"/><br />
       {{=A(current_user.username, _href=URL('profile', args=[auth.user_id]))}}</td>
           <td>{{=count_groups}} Groups<br /> {{=count_interests}} Interests</td>
       </tr></table>
       <br />
       <h4>Consult {{=A("your calendar", _href=URL('mycal', args=[auth.user_id]))}}</h4>
       <br />
       <h4> This Week&#39;s Events:</h4>
   <ul>
       {{if not events:}}
       <p>Join groups to participate in events!</p>
       {{pass}}
   {{for row in events:}}
       <li>{{=row.date.strftime("%A")}}: {{=A(row.title, _href=URL('displayEvent', args=[row.id]))}}</li>
   {{pass}}
   </ul>
    </div>
</td>
</table>
