{{extend 'layout.html'}}
<style>

    a:hover{
        cursor: pointer; cursor: hand   
    }
    .descripCell{
       height : 50px;
       width : 185px;
    }
    #leftContents {
        float : left;
        width : 80%;
        margin : 50px;
        height: 100%;
    }
    #rightContents {
        float : right;
        width : 20%;
        margin-top : 50px;
        margin-left : 50px;
        padding-right : 75px;
    }
    .editBox {
        float : left;
        width : 100%;
    }
    .hideThis {
        display : none;
    }
    #editLink {
        padding-top: 1px;
        font-size: 95%;
        height : 25px;
        width : 40px;
    }
    #descrip {
       width : 500px;
    }
    .gThumb {
       float : left;
       height : 50px;
       width : 50px;
    }
    textarea {
       width : 350px;
    }
    
    h5{
        color: #A65F00;
    }
</style>
<script>
var edit1 = 0;
var edit2 = 0;

$(document).ready(function(){    
   $("#no_table_interest").autocomplete({
       source: "{{=URL('keys_complete')}}.json",
       minLength: 1,
   });
   $(".editButton").click(function( e ) {
      var id = this.id;
      if(id === 'button1'){
         if(edit1 === 0){
            $('#descrip').slideUp();
            $('#button1 span').text('Done');
            $('#descrEdit').slideDown();
            edit1 = 1;
         } else {
            $('#descrip').slideDown();
            $('#button1 span').text('Edit');
            $('#descrEdit').slideUp();
            edit1 = 0;
         } 
      } 
      else if(id === 'button2'){
         if(edit2 === 0){
            $('#intrst').slideUp();
            $('#button2 span').text('Done');
            $('#interEdit').slideDown();
            edit2 = 1;
         } else {
            $('#intrst').slideDown();
            $('#button2 span').text('Edit');
            $('#interEdit').slideUp();
            edit2 = 0;
         }   
      }       
      else if(id === 'button3'){
         if(edit2 === 0){
            $('#button3 span').text('Done');
            $('#photoEdit').slideDown();
            edit2 = 1;
         } else {
            $('#button3 span').text('Edit');
            $('#photoEdit').slideUp();
            edit2 = 0;
         }   
      } 
   });
   $('span').each(function(){ 
      if($(this).attr('id') == "descripSpan"){
         var str = $(this).html();
         var temp = '';
         for (var c=0; c<18; c++) {
            if(c < str.length){
               temp += str[c];
            }
         }
         $(this).replaceWith("<p>&nbsp;&nbsp;" + temp + "...</p>");
      }
  });
});
</script>
<Title> Slugfriends </Title>
<center><h2> {{=profile_user.username}}&#39;s Profile</h2></center>
<div id="top">     
</div>
<div id="left">   

<div id="leftContents">
<div id="rightContents">

<img src="{{=URL('download',args=profile_user.photo)}}" height="200" width="200px"/>
{{if profile_user.id == auth.user_id:}}
<a class="editButton" id="button3"><span class="button-text">Edit</span></a>
<div id="photoEdit" class="hideThis" >
{{=form3}}
</div>
{{pass}}

</div>
<br/><br/>
<h4>About {{=profile_user.username}}:</h4>
{{if profile_user.id == auth.user_id:}}
<a class="editButton" id="button1"><span class="button-text">Edit</span></a>
<div id="descrEdit" class="hideThis" >
{{=form1}}
</div>
{{pass}}

<div id="descrip">
<p>{{=profile_user.description}}</p>
</div>

<h4>{{=profile_user.username}}&#39;s Interests:</h4>
{{if profile_user.id == auth.user_id:}}
<a class="editButton" id="button2"><span class="button-text">Edit</span></a>
<div id="interEdit" class="hideThis">
<div class="ui-widget">
{{=form2}}
</div>
</div>
{{pass}}

<div id="intrst">
<b>
<ul>
{{for row in interests:}}
   <li> {{=row.Keywords.keyword}} </li>
{{pass}}
</ul>
</div>
</b>


<h4>{{=profile_user.username}}&#39;s Groups</h4>
   <table id="groupT">
   {{k = 0}}
   {{for row in groups:}}
      {{if k % 2 == 0:}}
      <tr><td class="descripCell">
         {{=A(IMG(_src=URL('download',args=row.photo), _class='gThumb') , _href=URL('groups', args=[row.id]))}}
         &nbsp;&nbsp;{{=A(row.name, _href=URL('groups', args=[row.id]))}}
         <span id="descripSpan">{{=row.description}}</span>
         </td>
     {{k = k + 1}}
      {{else:}}
      <td class="descripCell">
         {{=A(IMG(_src=URL('download',args=row.photo), _class='gThumb') , _href=URL('groups', args=[row.id]))}}
         &nbsp;&nbsp;{{=A(row.name, _href=URL('groups', args=[row.id]))}}
         <span id="descripSpan">{{=row.description}}</span></td></tr>
     {{k = k + 1}}
     {{pass}}
{{pass}}
{{if k % 2 == 1:}}
</tr>
{{pass}}
</table>

<h4>{{=profile_user.username}}&#39;s Groups as an admin</h4>
   <table id="groupT">
   {{k = 0}}
   {{for row in adminGroups:}}
      {{if k % 2 == 0:}}
      <tr><td class="descripCell">
         {{=A(IMG(_src=URL('download',args=row.photo), _class='gThumb') , _href=URL('groups', args=[row.id]))}}
         &nbsp;&nbsp;{{=A(row.name, _href=URL('groups', args=[row.id]))}}
         <span id="descripSpan">{{=row.description}}</span>
         </td>
     {{k = k + 1}}
      {{else:}}
      <td class="descripCell">
         {{=A(IMG(_src=URL('download',args=row.photo), _class='gThumb') , _href=URL('groups', args=[row.id]))}}
         &nbsp;&nbsp;{{=A(row.name, _href=URL('groups', args=[row.id]))}}
         <span id="descripSpan">{{=row.description}}</span></td></tr>
     {{k = k + 1}}
     {{pass}}
{{pass}}
{{if k % 2 == 1:}}
</tr>
{{pass}}
</table>
</div>
</div>
