{{extend 'layout.html'}}

<style>
.descripCell{
   height : 50px;
   width : 500px;
}
.gThumb {
   float : left;
   height : 50px;
   width : 50px;
}

    /*Left side*/
    #contentLeft{
        width: 300px;
    }
    
    #mainContent{
        padding; 0 15px;
    }
    
    /*Right side*/
    #contentRight{
        width: 505px;
    }
    #sideBar{
        padding: 0 10px;
        
    }
    
    #table{
        margin: 0;
        paddingL 0;
        border-collapse:collaspe;
        text-align: left;
    }
    
    #tr, td {
        margin: 0;
        padding: 5;
        verticle-align: top;
    }
    
    #middleContent{
        padding-right:50px;
    }
</style>
<script>
$(document).ready(function(){
   $("#no_table_interest").autocomplete({
       source: "{{=URL('keys_complete')}}.json",
       minLength: 1,
   });
   $('span').each(function(){
      if($(this).attr('id') == "descripSpan"){
         var str = $(this).html();
         str.replace(/\s+$/g,' ');
         var temp = '';
         for (var c=0; c<50; c++) {
            if(c < str.length){
               temp += str[c];
            }
         }
         $(this).replaceWith("<p>&nbsp;&nbsp;" + temp + "...</p>");
      }
  });
});
</script>
    <center><img src="{{=URL(r=request,c='static/images',f='mainlogo.png')}}" id="mainLogo" /></center>
    <table><tr><td>{{=A('Home', _href=URL('home'))}}</td><td>{{=A('Profile', _href=URL('profile'))}}</td><td>{{=A('My Calendar', _href=URL('mycal'))}}</td></tr></table>
<table>
<tr>
<td>
    <div id="contentLeft">
    </div>
    </td>
    <td>
{{=form}}
    </td>
    <td>
    <div id="contentRight">
        </div>
    </td>
    </tr>
</table>

   <h5>Search Results:</h5>
{{if not groups:}}
<p>There are no groups that match your interest. Why not start your {{=A("own group", _href=URL('createAGroup'))}}?</p>
{{pass}}
   <table id="groupT">
   {{k = 0}}
   {{for row in groups:}}
      {{if k % 2 == 0:}}
         <tr>
         <td class="descripCell">
         {{=A(IMG(_src=URL('download',args=row.photo), _class='gThumb'), _href=URL('groups', args=[row.id]))}}
         &nbsp;&nbsp;{{=A(row.name, _href=URL('groups', args=[row.id]), _id="descripSpan")}}
         <span id="descripSpan">{{=row.description}}</span>
         </td>
      {{k = k + 1}}
      {{else:}}
         <td class="descripCell">
         {{=A(IMG(_src=URL('download',args=row.photo), _class='gThumb'), _href=URL('groups', args=[row.id]))}}
         &nbsp;&nbsp;{{=A(row.name, _href=URL('groups', args=[row.id]), _id="descripSpan")}}
         <span id="descripSpan">{{=row.description}}</span>
         </td></tr>
      {{k = k + 1}}
      {{pass}}
   {{pass}}
   {{if k % 2 == 1:}}
      </tr>
   {{pass}}
   </table>
