{{extend 'layout.html'}}
<style>
    #leftSide{
        color: #BF7230;
    }
    
    #rightSide{
        color: #1D7074;
    }
        
    #middle{
        color: #008209;
    }
</style>
<h1>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h1>
<table><tr>
    <td>
        <div id="leftSide">
        Promote your existing club
        or group
            <br /><br /><br /><br /><br /><br />
            <center>Have Fun!</center>
            <br /><br /><br /><br /><br /><br />
            Participate in your favorite activities and hobbies
        </div>
    </td>
    <td>
<center>
  {{=form}}
  <div id ="middle">
  <br /><br /><br /><br /><br /><br />
  Best of all it’s free!
    </div>
</center>
    </td>
    <td>
        <div id="rightSide">
        <br /><br />
    	Gain Leadership Skills
            <br /><br /><br /><br /><br />
            <center>Make new friends</center>
            <br /><br /><br /><br /><br />
            Connect with people from all over campus, from a variety of majors, who share your interests
        </div>
    </td>
    </tr></table>
