{{extend 'layout.html'}}
<style>
    #leftSide{
        color: #BF7230;
    }
    
    #rightSide{
        color: #1D7074;
    }
        
    #middle{
        color: #008209;
    }
</style>
<h1>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h1>
<table><tr>
    <td>
        <div id="leftSide" style="font-size: 125%">
        Make new friends!
            <br /><br /><br /><br />
            Promote your existing club or group!
            <br /><br /><br /><br />
            Participate in your favorite activities and hobbies!
        </div>
    </td>
    <td>
<center>
  {{=form}}
  <div id ="middle">
  <br /><br />
      <span style="font-size:200%">Best of all it’s free!</span>
      <br /><br />
    </div>
</center>
    </td>
    <td>
        <div id="rightSide" style="font-size: 125%">
    	Have Fun!
            <br /><br /><br /><br />
            Gain leadership experience!
            <br /><br /><br /><br />
            Connect with students from all over campus!
        </div>
    </td>
    </tr></table>
    <table><tr>
        {{for row in groups:}}
        <td><img src="{{=URL('download',args=row.photo)}}" height="180" width="180px"/><br />{{=row.name}}</td>
        {{pass}}
        </tr></table>
